.movie-card {
    border: none;
    background-color: #222;
    color: #fff;
    max-width: 300px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    height: 100%;
    border-radius: 0 0 10px 10px;
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    .card-img-top {
        width: 100%; /* Ensures the image takes the full width of the card */
        height: 300px; /* Set a fixed height for consistency */
        object-fit: cover; /* Ensures the image covers the available space without distortion */
        border-radius: 10px 10px 0 0; /* Rounded corners on the top only */
      }
      
  
    .card-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;
    }
  
    .card-title {
      font-size: 1.2rem;
    }
  
    .card-text {
      font-size: 0.9rem;
    }
  
    a button {
      width: 100%;
      background: transparent;
      border: none;
      color: #29b6f6;
      padding: 0.5rem;
      transition: color 0.2s ease-in-out;
  
      &:hover {
        color: #58d3f7;
      }
    }
  }
  
  // Add media queries for responsive adjustments
  @media (max-width: 768px) {
    .movie-card {
      max-width: 250px;
    }
  }
  
  @media (max-width: 576px) {
    .movie-card {
      max-width: 100%;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  